.page .entry-title{
    display:none;
}

.site-header > .wrap {
    display: none;
}

.footer-widgets{
    display: none;
}

body.wdm-course-landing .site-inner {
    background: #bbdddd;
}

h1{
    z-index: 99;
}

hr {
    border: 0;
    border-collapse: collapse;
    border-top: 8px solid #fbe70c;
    clear: both;
    margin: 1em 0;
    margin-top:-26px;
    z-index:10;
}

.gform_legacy_markup_wrapper, .gform_legacy_markup_wrapper  br {
  display:none;
}

.gform_legacy_markup_wrapper label.gfield_label, .gform_legacy_markup_wrapper legend.gfield_label {
    font-weight: 700;
    font-size: inherit;
    font-size: 25px;
}

.gform_legacy_markup_wrapper ul.gfield_checkbox li label, .gform_legacy_markup_wrapper ul.gfield_radio li label {

    font-size: 20px;
}

/*for next button*/

.gform_page_footer .button.gform_button, .gform_legacy_markup_wrapper .gform_page_footer .button.gform_next_button {
    margin-right: 10px !important;
    border: none;
    color: black;
    padding: 16px 32px !important;
    background: white;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 10px #fbe70c;
}

.gform_page_footer .button.gform_button, .gform_legacy_markup_wrapper .gform_page_footer .button.gform_next_button:hover {
  background-color: #fbe70c;
  color: black !important;
  border: 2px solid #fbe70c;
  transform: translate( 8px, 8px);
  box-shadow:none;
  
}
/*for prev button*/

.gform_page_footer .button.gform_button, .gform_legacy_markup_wrapper .gform_page_footer .button.gform_previous_button {
    margin-right: 10px !important;
    border: none;
    color: black;
    padding: 16px 32px !important;
    background: white;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 10px #fbe70c;
}


.gform_page_footer .button.gform_button, .gform_legacy_markup_wrapper .gform_page_footer .button.gform_previous_button:hover {
  background-color: #fbe70c;
  color: black !important;
  border: 2px solid #fbe70c;
  transform: translate( 8px, 8px);
  box-shadow:none;
  
}

@media only screen and (max-width: 600px) {
  .vc_column_container {
    padding-left: 20px;
    padding-right: 20px;
}
.vc_single_image-img{
    margin-left:0px !important;
}
}

/*css for progress bar*/
.gform_legacy_markup_wrapper .gf_progressbar_percentage span {
    color: black;
}

.gform_legacy_markup_wrapper .gf_progressbar_percentage.percentbar_blue {
    background-color: #fbe70c;
    color: #fff;
}

.gform_legacy_markup_wrapper .gf_progressbar_wrapper .gf_progressbar_title {
    color: black;
    opacity: 1;
}

.gform_legacy_markup_wrapper .gf_progressbar_blue {
    background: white;
}

.gform_legacy_markup_wrapper ul.gfield_checkbox li label, .gform_legacy_markup_wrapper ul.gfield_radio li label {
    font-size: 20px;
    margin-left: 20px;
}


.author-box:after, .clearfix:after, .entry:after, .entry-content:after, .nav-primary:after, .nav-secondary:after, .pagination:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .wrap:after, .featured-content:after {
    clear: both;
    content: " ";
    display: none;
}

#cookie-notice{
    display:none;
}